# Sandbox

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates

from writeup_func import *

In [2]:
users1 = pd.read_csv("../data/users1.csv")
users2 = pd.read_csv("../data/users2.csv")
users3 = pd.read_csv("../data/users3.csv")

In [3]:
users = pd.concat([users1, users2, users3])
users.shape

(5241, 10)

In [4]:
tweets1 = pd.read_csv("../data/tweets1.csv", low_memory=False)
tweets2 = pd.read_csv("../data/tweets2.csv", low_memory=False)
tweets3 = pd.read_csv("../data/tweets3_1.csv", low_memory=False)
tweets4 = pd.read_csv("../data/tweets3_2.csv", low_memory=False)
tweets5 = pd.read_csv("../data/tweets3_3.csv", low_memory=False)

In [5]:
tweets = pd.concat([tweets1, tweets2, tweets3, tweets4, tweets5])
tweets.shape

(13847731, 31)

In [6]:
# to datetime
users_dt = pd.to_datetime(users.account_creation_date)
users.loc[:,'account_creation_date'] = users_dt.values
tweets.loc[:, 'tweet_time'] = pd.to_datetime(tweets.tweet_time).values

In [13]:
tweets[tweets['tweet_time'].dt.year == 2017][['userid', 'tweet_text']].tweet_text.iloc[-1]

'„ÄÇÔºå„ÄÇÔºå„ÄÇÈÉ≠Ê≤°Êúâ‰ªª‰ΩïÈöêÁßÅ‰∫ÜÔºåËøòËÉΩÊâõÂ§ö‰πÖÔºü„ÄÇÔºå„ÄÇÔºå„ÄÇ'

0          2012
1          2012
2          2015
3          2015
4          2015
           ...
2875329    2019
2875330    2019
2875331    2018
2875332    2018
2875333    2018
Name: tweet_time, Length: 13847731, dtype: int64

In [31]:
tweets[tweets['tweet_time'].dt.year == 2017][['userid', 'tweet_text']].head()

        userid                                         tweet_text
79   620912741     Nanti akuw jadi shownu https://t.co/oXfC4lsmvA
82   620912741          Mau bales mt tp ngelag mulu\n\nq bisa apa
85   620912741  At warung dimsum pak bejo with @euigont \n\nJo...
119  620912741                       Caur https://t.co/gzBTLRuHd2
120  620912741  Woee ini kita nyepam wkwk https://t.co/Wr8vVZ83Aa

In [32]:
# looking at user 769790067183190016, porn bot?
tweets[(tweets['userid'] == '769790067183190016') & (tweets['tweet_language'] == 'zh')][['tweet_text', 'tweet_time', 'tweet_language']].sort_values(by='tweet_time').head()

,tweet_text,tweet_time,tweet_language
550803,PLAYMFS: #PTL to pkrjim Á•ù‰Ω†ÁîüÊó•Âø´‰πê üéáüéÅüéâüéÇüòçüòò‚ù§üíã fr : Ë£¥...,2016-10-12 15:38:00,zh
1606044,knockknock0408: [DL] 161119 SEHUN cr.ÂóØ_ÈÇ£Â•ΩÂêß_9P\...,2016-11-22 12:22:00,zh
370124,knockknock0408: [DL] 161125 LAY cr.Â±±È°∂Ê¥û‰∫∫Êó©È•≠_10P\...,2016-11-26 06:53:00,zh
1733058,knockknock0408: cr.Â§öÊØîÂ∞èÈáëÈ≠ö https://t.co/KqW9LyVHB4,2016-11-26 12:21:00,zh
1768398,knockknock0408: cr.ËçºÁÅ´Âêõ \nhttps://t.co/f1xFxQB1...,2016-12-03 12:20:00,zh

In [33]:
tweets[['userid','tweet_text', 'tweet_time', 'tweet_language']].head()

,userid,tweet_text,tweet_time,tweet_language
0,206027550,VOU SEGUIR T-O-D-O-S QUE SEGUIREM O @OBobMarle...,2012-08-15 22:15:00,NaN
1,206027550,vai? #LetrasChoraoAdmiraFamiliaRebelde,2012-06-02 20:59:00,NaN
2,206027550,"GALERAAAAAAA ASSISTE ESSE V√çDEO, S√âRIO KKKKKKK...",2015-02-22 23:15:00,pt
3,206027550,CARAMBA. \n\nSEGUI O @versosbuda E ELE ME IND...,2015-02-10 21:24:00,pt
4,206027550,10 CARACTER√çSTICAS FEMININAS CAPAZ DE DEIXAR Q...,2015-03-15 22:02:00,pt

In [41]:
tweets[tweets['tweet_text'].str.contains('Ê°ÇÊïèÊµ∑')].tweet_text.iloc[2]

'#Ê°ÇÊ∞ëÊµ∑  12Âπ¥ÂâçÁöÑ‰∏ÄÂú∫ËΩ¶Á•∏ÔºåÂ§∫ÂèñÂéª‰∫ÜËÄÅ‰∏§Âè£ÂîØ‰∏ÄÁà±Â•≥ÁöÑÁîüÂëΩ„ÄÇËÄåËΩ¶Á•∏ËÇá‰∫ãËÄÖÊ≠£ÊòØÊ°ÇÊïèÊµ∑„ÄÇ https://t.co/7Z6300g10M'